:root{
  --clr-dark-900: hsl(220, 5%, 12%);
  --clr-light-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(160, 82%, 45%);
} 
     * {
       
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
       
        text-decoration: none;
      }
      body {
        
       margin:0px;
        background: #3f3d3d;
        
      }
      
   
      a{
        text-decoration: none;
        color: white;
      }
      
      .navcard h1{
      
        font-size: 60px;
        letter-spacing: 10px;
        color:#e4ecf1;
        text-align: center;
        text-shadow: 5px 5px #000000;
      }
      
      .navcard h2{
        font-size: 35px;
       color:#d6d8da;
       text-shadow: 2px 2px #000000;
      }
      .navcard h3{
        font-size: 24px;
        color:#d6d8da;
        text-shadow: 2px 2px #000000;
      }
       .navcard h4{
        font-size: 15px;
        color:#d6d8da;
        text-shadow: 2px 2px #000000;
      }
      /**tcard**/
      .tcard h1{
      
        font-size: 60px;
        letter-spacing: 10px;
        color:#e4ecf1;
        text-align: center;
        text-shadow: 5px 5px #000000;
      }
      
      .tcard h2{
        font-size: 35px;
       color:#d6d8da;
       text-shadow: 2px 2px #000000;
      }
      .tcard h3{
        font-size: 24px;
        color:#d6d8da;
        text-shadow: 2px 2px #000000;
      }
       .tcard h4{
        font-size: 15px;
        color:#d6d8da;
        text-shadow: 2px 2px #000000;
      }

      /**gcard**/
      .gcard h1{
      
        font-size: 60px;
        letter-spacing: 10px;
        color:#e4ecf1;
        text-align: center;
        text-shadow: 5px 5px #000000;
      }
      
      .gcard h2{
        font-size: 35px;
       color:#d6d8da;
       text-shadow: 2px 2px #000000;
      }
      .gcard h3{
        font-size: 24px;
        color:#d6d8da;
        text-shadow: 2px 2px #000000;
      }
       .gcard h4{
        font-size: 15px;
        color:#d6d8da;
        text-shadow: 2px 2px #000000;
      }

      /**cardd**/
      .cardd h1{
      
        font-size: 60px;
        letter-spacing: 10px;
        color:#e4ecf1;
        text-align: center;
        text-shadow: 5px 5px #000000;
      }
      
      .cardd h2{
        font-size: 35px;
       color:#d6d8da;
       text-shadow: 2px 2px #000000;
      }
      .cardd h3{
        font-size: 24px;
        color:#d6d8da;
        text-shadow: 2px 2px #000000;
      }
       .cardd h4{
        font-size: 15px;
        color:#d6d8da;
        text-shadow: 2px 2px #000000;
      }
     
     
     
     
   
       
      .navv { 
        position: webkit-sticky;
        position: sticky;
        top:0;
        list-style-type: none;
        margin-top: -15px;
        margin-left: 0px;
        margin-right: -15px;
        padding: 0;
        overflow: hidden;
        background: linear-gradient(
        rgb(58, 59, 59),
        rgb(44, 44, 44) 10%,
        rgb(51, 51, 51)
    );
        width: 100%;
        height: 70px;
        z-index:2;
        
        
        
       
      }
      
      .navv li {
       
        overflow:hidden;
        float: left;
        margin-right: 0px;
        border-radius: 6px;
        width:28ch;
        margin-top: 0%;
        text-align: center;
        position:sticky;
        padding-top:5px;
    
    
        
      }
      
      
      
      
      
      
      .navv li a {
        display: block;
       color: white;
        text-align: center;
      padding: 15px 0px;
      text-decoration: none;
      font-size: 15px;
        
      }
      
      .navv li a:hover:not(.active) {
        background-color: #15d192;
        height:100%;
        width:auto;
        color: rgb(27, 29, 28)  
      }

      .navv li a.active{
        border-bottom: 3px solid #15d192;
      }

      
      
      .button:hover,  .botton:hover:focus-within{
        background-color: var(--clr-accent-400);
        height:100%;
        width:10%;
        color: var(--clr-dark-900)
        
      }
      
      
      
     
     
      .cardd {
        position:relative;
        background-image: url("burgir.jpg");
        background-size:cover;
        padding: 100px;
        margin-top: 0px;
        margin-right:0px;
        margin-left: 0px;
        margin-bottom: 0px;
        background-size:cover;
        height:auto;
        width: 100%;
        overflow:hidden;
      
        
      }
     
      
      
      .navcard {
        background-image: url("Cafebg.jpg");
        background-size:cover;
        background-position:center;
        padding: 20px;
        position: relative;
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 1px;
        background-size:cover;
        height:100%;
        width: 100%;
        overflow:hidden;
        
        
       
        
      }
      
      .tcard {

        background: linear-gradient(
        rgb(58, 59, 59),
        rgb(44, 44, 44) 10%,
        rgb(51, 51, 51)
    );
        padding-left:20px;
        padding-right:20px;
        padding-bottom: 5px;
        margin-top: 1px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom:0px;
        background-size:cover;
        height:50%;
        max-height: 550px;
        column-width:70%;
        display: flex;
        flex-wrap:flex;
        position:relative;
      
        
        
        
      }
      .columnn{
        display: grid;
        grid-template-columns:1fr 1fr;
        float: left;
        padding: 10px;
        padding-bottom: -20px;
        word-wrap: break-word;
        outline: 3px solid rgb(0, 255, 170);
        outline-offset: -10px;
        width: calc(100% / 3);
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        flex:1;
  
  
        }
        video{
          width: 50rem;
          height:40rem;
        }
        .best{
            display: grid;
            grid-template-columns:1fr 1fr 1fr;
            width: 100%;
            height: auto;
            top: 0px;
            gap: 0.50rem;
            padding: 4rem 2rem;
            text-align: center;
            grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
            border: 1px solid #1E1C1C;
            background: linear-gradient(
              rgb(38, 201, 152),
              rgb(9, 83, 61) 10%,
              rgb(9, 88, 65)
          );
          border-radius: 6px;
        
      }

       
      .gcard {
        
        position: relative;
        background: linear-gradient(
        rgb(58, 59, 59),
        rgb(44, 44, 44) 10%,
        rgb(51, 51, 51)
    );
        padding: 5px;
        margin-top: 5px;
        margin-right: -15px;
        margin-left: 0px;
        margin-bottom: 10 px;
        background-size:cover;
        height:auto;
        width: 100%;
        overflow:hidden;
        z-index: 1;
        max-width:100rem;
        margin-inline: auto;
        padding-inline: 2rem;
      
        
        
        
      }
      .gcardh{
        text-align:center;
      
      }
     

      .tabss {

        aspect-ratio: 1 / 1.5; 
        padding: 0px;
        width: inherit;
        height: auto;
        max-height:400px;
        background-color: rgb(56, 49, 49);
        color: white;
        overflow:visible;
        position: relative;
        word-wrap: break-word;
        margin: 5px;
        transition: transform .2s;
        word-wrap:break-word;
          

      }
      .tabss img {
         width: 100%;
         height: 100%;
         aspect-ratio: 1 / 1; 
         object-fit:cover;
      } 
      .tabss p{
          font-family:sans-serif;
          font-size: 1rem;
          
      }
     
      .tabss h1{
        font-family: sans-serif;
      }  
      footer{
        background:var(--clr-dark-900);
        color: var(--clr-light-100);
        margin-top:0px;
       
      }
      
      
      
      @media screen and (max-width: 800px) {
        .card,.navcard,.column, .best{   
          width: 100%;
          height: auto;
          padding: 0px;
          margin:auto;
        }
        .tcard {
          width: 100%;
          height: auto;
          padding: 0px;
          
        }
        .columnn {
          flex-direction: column;
          width: 100%;
        }
        .navv{
          width:100%;
          display:inline-flex;
      
        
        }
        .navv li{
          width:100%;
        }
        .gcard .best{   
          width: 100%;
          padding: 0px;
          aspect-ratio: 1/1;
        }
        .tabss .tabss img{
          max-width:100px;
          width:100%;
          height:100%;
          aspect-ratio: 1/1
        }
         
        .logo {
          width:20%;
          height:20%;
        }
        li{
          width: 22%;
        }
        video{
          width:100%;
          height: 50%;
          flex:1;
          margin:auto;
        }
        button{
          width: 100%;

        }
        button:hover{
          background-color: #08897e;
          height:100%;
          width:100%;
          
        }

        
      }
