:root{
    --clr-dark-900: hsl(220, 5%, 12%);
    --clr-light-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(160, 82%, 45%);
}

*,*::before,*::after{
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100vh;
    place-items:center;
    line-height:1.6;
    background: linear-gradient(
        rgb(108, 112, 111),
        rgb(35, 36, 35) 10%,
        rgb(38, 39, 39)
    );
    font-family: sans-serif;
    padding-right: 0;
}
h1{
    color:hsl(0, 0%, 100%);
    text-shadow: 3px 3px #000000;
}
ul {
        
    position: webkit-sticky;
    position: sticky;
    top:0;
    list-style-type: none;
    margin-top: -15px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(
        rgb(58, 59, 59),
        rgb(44, 44, 44) 10%,
        rgb(51, 51, 51)
    );
    width: 100%;
    height: 65px;
    z-index:2;
    
    

    
    
    
   
  }
  
  li {
   
    overflow:hidden;
    float: left;
    margin-right: 0px;
    border-radius: 6px;
    width:28ch;
    margin-top: 0%;
    text-align: center;
    position:sticky;
    padding: 0px;

    
  }
  
  
  
  
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 15px;
    
  }
  
  li a:hover:not(.active) {
    background-color: var(--clr-accent-400);
    height:100%;
    width:auto;
    color: var(--clr-dark-900)
   
  }

  li a.active{
    border-bottom: 3px solid #15d192;
  }
  .menu{
    text-shadow: 3px 3px #000000;
    background-image: url('yum.jpg');
    background-position: center;
    background-size:cover;
    margin: 2px;
    top:0;
    width: 100%;
    text-align: center;

  }
  .menu h1{
    font-size: 4rem;
  }


.mcard {
        
    position: relative;
    padding: 15px;
    margin-top: 0px;
    margin-right: -15px;
    margin-left: 0px;
    margin-bottom: 10 px;
    background-color: hsl(210, 3%, 16%);
    height:auto;
    width: 100%;
    overflow:hidden;
    z-index: 1;
    max-width:100rem;
    margin-inline: auto;
    padding-inline: 2rem;  
  }
  
.cardino1{
    margin-top: 2rem;
    margin-bottom: 0rem;
    padding-top: 2rem;
}
.cardino1 h2{
    --padding: 1rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0%/ 0),
        hsl(20 50% 0%/ .3) 10%,
        rgb(14, 13, 13)
    );
    height:82%;
    color:hsl(0, 0%, 100%);
    text-shadow: 3px 3px #000000;
    font-size: 3rem;
    text-align: center;
}
.cardino{
    display: grid;
    grid-template-columns:auto auto auto auto;
    width: 100%;
    height: auto;
    gap: 1rem;
    padding: 5rem 0rem 0rem 0rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px,2fr));
  
}

.card{
    color: var(--clr-neutral-100);
    padding: 10rem 0rem 0rem 0rem;
    max-width: 45ch;
    border-radius: 0.5rem;
    overflow:hidden;
    transition:transform 500ms ease;
}

.card:hover,.card:focus-within{

        transform: scale(1.05);

}
.card-content{
    --padding: 0.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0%/ 0),
        hsl(20 50% 0%/ .3) 10%,
        hsl(0 0% 0%/ 1)
    );
    height:100%;
}

.card-title{
    position: relative;
    width: max-content;
    font-size: 1.5rem;
    text-shadow: 3px 3px #000000;
}

.card-title::after{
    content: "";
    position: absolute;
    height:4px;
    left: calc(var(--padding) * -1 );
    bottom:-3px;
    width:calc(100% + var(--padding));
    background: var(--clr-accent-400);
    transform-origin: left;
    transition: transform 500ms ease;

}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scalex(1);
}
.card-body{
    color:rgb(255 255 255/ 0.8);
}


@media (hover) {
    .card-content{
        transform: translateY(65%);
        transition: transform 500ms ease;
    }
    
    .card:hover .card-content, .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 400ms;
    }   
    .card:focus-within .card-content{
    transition-duration: 0ms;
    }

    .card-content > *:not(.card-title){
    opacity: 0;
    transition: opacity 500ms linear;
    }


    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 500ms;
    }
    .card-title::after{  

    transform: scalex(0);}

}



.button{
    cursor:pointer;
    display: inline-block;
    text-decoration:none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: .5em 1.25em;
    border-radius: 0.25em;
}
.button:hover,.button:focus{
    background-color: var(--clr-neutral-900);
    color: hsl(142, 90%, 61%);
}



@media screen and (max-width: 640px){
    ul{
        width:100%;
        display:inline-flex;
    
      
      }
      li{
        width:100%;
      }

}